body {
  margin: 0;     
  padding: 0;     
  box-sizing: border-box;
}

.header{
    display: flex;
    justify-content: space-between;
    align-items: center;     
    background-color: #161313;  
    width: 100%;
    height: 80px;  
}

header > div{
    display: flex;
    align-items: center;
}
header > div img{
    padding-left: 15px;
}

div{
    display: flex;
    gap: 18px;
}

h1{
    color: white;
    font-family: inter;
    font-size: 16px;
    
}

ul{
    display: flex;
    gap: 60px;
}

li{
    color: white;
    font-family: inter;
    list-style: none;
}

li.dropdown {
    display: flex;
    align-items: center;
    gap: 5px; 
    margin-right: 15px;
}

