body{
    margin: 0;
    padding: 0;
}

.navigation{
    background-color: grey;
    border-radius: 20px;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 20px auto 0 auto;
    width: 50%;
    padding: 20px;
    gap: 20%;
}

a{
    text-decoration: none;
    font-size: 18px;
    color: rgb(250, 250, 250);
}